In [3]:
import pandas as pd
dataset = pd.read_csv("Sample data.csv")

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [17]:
testdata = pd.get_dummies(dataset,dtype=int,drop_first=True)

In [19]:
testdata

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [21]:
testdata.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [23]:
independent = testdata[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = testdata[['charges']]

In [25]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [27]:
from sklearn.linear_model import LinearRegression

In [29]:
regressor = LinearRegression()

In [31]:
regressor = regressor.fit(xtrain,ytrain)

In [33]:
ypredict = regressor.predict(xtest)

In [35]:
from sklearn.metrics import r2_score

In [39]:
rscore = r2_score(ytest,ypredict)

In [41]:
rscore

0.7894790349867009

In [43]:
import pickle

In [45]:
pickle.dump(regressor,open("AssMLR.sav",'wb'))