In [3]:
import pandas as pd
dataset = pd.read_csv('Sample data.csv')

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [15]:
datasets = pd.get_dummies(dataset,dtype=int,drop_first=True)

In [17]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [21]:
datasets.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [23]:
independent = datasets[['age', 'bmi', 'children','sex_male', 'smoker_yes' ]]
dependent = datasets[['charges']]

In [19]:
from sklearn.model_selection import train_test_split

In [25]:
xtrain,xtest,ytrain,ytest = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [27]:
xtrain

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [247]:
from sklearn.ensemble import AdaBoostRegressor
#regressor = AdaBoostRegressor(random_state=0, n_estimators=100)
regressor = AdaBoostRegressor(n_estimators=50, learning_rate=2.0, loss='linear', random_state=0)

In [249]:
regressor = regressor.fit(xtrain, ytrain)

C:\Users\vprad\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [251]:
ypredict = regressor.predict(xtest)

In [253]:
from sklearn.metrics import r2_score

In [255]:
rscore = r2_score(ytest,ypredict)

In [257]:
rscore

0.8809576998632572

In [259]:
import pickle

In [261]:
pickle.dump(regressor,open('AssAdaboost.sav','wb'))

In [263]:
reg = pickle.load(open('AssAdaboost.sav','rb'))

In [265]:
reg.predict([['18','28.215','0','0','0']])

C:\Users\vprad\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  warnings.warn(

array([3258.67721231])