In [7]:
for tmp in range(20):
    print(tmp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [23]:

for tmp in range(10,20):
    print(tmp, end=" ")

10 11 12 13 14 15 16 17 18 19

In [5]:
lists=[10,20,14,55,43,87,76]
print(lists)
print("Number of item in the Lists :",len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the Lists : 7

In [13]:
strs = "Artificial Intelligence"
lists = list(strs)
print(strs)
for tmp in lists:
    print(tmp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

Unable to understand the requirement
-Your Name-
-Your Age-
-Your Profession-

In [15]:
Tuples1=(1,'welcome',2,'Hope')
print(Tuples1)

(1, 'welcome', 2, 'Hope')

In [27]:
Tuple1=(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=Tuple1 , Tuple2
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [37]:
tuples=(20,10,16,19,25,1,276,118)
print(tuples)
for tmp in tuples:
    if(tmp%2!=0):
        print(tmp," is odd")

(20, 10, 16, 19, 25, 1, 276, 118)
19  is odd
25  is odd
1  is odd

In [39]:
tuples=(20,10,16,19,25,1,276,118)
print(tuples)
for tmp in tuples:
    if(tmp%2==0):
        print(tmp," is odd")

(20, 10, 16, 19, 25, 1, 276, 118)
20  is odd
10  is odd
16  is odd
276  is odd
118  is odd