In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset = pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset = dataset.drop('User ID',axis=1)

In [7]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [8]:
indep = dataset[['Age', 'EstimatedSalary', 'Gender_Male']]
dep = dataset[['Purchased']]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain,xtest,ytrain,ytest = train_test_split(indep,dep,test_size=1/3,random_state=0)

In [11]:
dep

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [12]:
# This block is for GaussianNB in Naive Bayes
from sklearn.naive_bayes import GaussianNB
gau = GaussianNB()
gau.fit(xtrain,ytrain.values.ravel())
ypredict = gau.predict(xtest)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypredict)
from sklearn.metrics import classification_report
clfrpt = classification_report(ytest,ypredict)
print (clfrpt)
print(cm)

              precision    recall  f1-score   support

           0       0.91      0.94      0.92        85
           1       0.89      0.84      0.86        49

    accuracy                           0.90       134
   macro avg       0.90      0.89      0.89       134
weighted avg       0.90      0.90      0.90       134

[[80  5]
 [ 8 41]]

In [13]:
# This block is for MultinomialNB in Naive Bayes
from sklearn.naive_bayes import MultinomialNB
mlnb = MultinomialNB()
mlnb.fit(xtrain,ytrain.values.ravel())
ypredict = mlnb.predict(xtest)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypredict)
from sklearn.metrics import classification_report
clfrpt = classification_report(ytest,ypredict)
print (clfrpt)
print(cm)

              precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

[[85  0]
 [49  0]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [14]:
# This block is for BernoulliNB in Naive Bayes
from sklearn.naive_bayes import BernoulliNB
bnl = BernoulliNB()
bnl.fit(xtrain,ytrain.values.ravel())
ypredicts = bnl.predict(xtest)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypredicts)
from sklearn.metrics import classification_report
clfrpt = classification_report(ytest,ypredicts)
print (clfrpt)
print(cm)

              precision    recall  f1-score   support

           0       0.63      1.00      0.78        85
           1       0.00      0.00      0.00        49

    accuracy                           0.63       134
   macro avg       0.32      0.50      0.39       134
weighted avg       0.40      0.63      0.49       134

[[85  0]
 [49  0]]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [15]:
# This block is for CategoricalNB in Naive Bayes

from sklearn.naive_bayes import CategoricalNB
cat = CategoricalNB()
cat.fit(xtrain,ytrain.values.ravel())
ypred = cat.predict(xtest)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypred)
from sklearn.metrics import classification_report
clfrpt = classification_report(ytest,ypred)
print (clfrpt)
print(cm)

              precision    recall  f1-score   support

           0       0.82      0.96      0.89        85
           1       0.91      0.63      0.75        49

    accuracy                           0.84       134
   macro avg       0.87      0.80      0.82       134
weighted avg       0.85      0.84      0.84       134

[[82  3]
 [18 31]]

In [17]:
# This block is for ComplementNB in Naive Bayes
from sklearn.naive_bayes import ComplementNB
cpl = ComplementNB()
cpl.fit(xtrain,ytrain.values.ravel())
ypredict = gau.predict(xtest)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypredict)
from sklearn.metrics import classification_report
clfrpt = classification_report(ytest,ypredict)
print (clfrpt)
print(cm)

              precision    recall  f1-score   support

           0       0.77      0.64      0.70        85
           1       0.52      0.67      0.58        49

    accuracy                           0.65       134
   macro avg       0.64      0.65      0.64       134
weighted avg       0.68      0.65      0.66       134

[[54 31]
 [16 33]]